@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);

html, body {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 700;
  color: #464646;
  font-size: 13px;
  margin: 0;
}
a, a:visited {
  font-weight: 400;
  background-color: #363636;
  color: #fff;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  background-color: #363636;
  color: #ee524a;
  text-decoration: none;
}

p label {
  padding: 0 0 0 1px;
}
#dashboard {
  font-size: 17px;
  height: 60px;
  background-color: #363636;
}
#dashboard a {
  display: inline-block;
  padding: 0 59px;
  color: #fff;
  height: 60px;
  line-height: 60px;
}
#dashboard a:hover {
  background-color: #444;
  color: #ee524a;
}
input {
  width: 100%;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #464646;
  outline: none;
  padding: 10px 10px 10px 10px;
  border: 0px solid #f5f8f7;
  background-color: #f5f8f7;
}
.inputerror {
  border: 1px solid #ee524a;
}
input[type=submit] {
  cursor: pointer;
  margin-top: 3%;
  width: 106%;
  padding: 10px 25px 10px 25px;
  border-radius: 25px;
  color: #fff;
  background-color: #ee524a;
}
.correct {
  margin-left: 0px;
  color: #13AF68;
}
.incorrect {
  margin-left: 0px;
  color: #ee524a;
}
#headertext {
  font-size: 20px;
}
.errordetails {
  display: block;
  color: #ee524a;
  font-weight: 400;
  font-size: 10;
}
.infotext {
  width: 200px
  display: block;
  font-weight: 400;
  font-size: 10;
}
#container {
  margin: 5% 10% 0 10%;

  position: relative;
  width: 80%;
}
.floatleft {
  float: left;
  width: 40%;
}
.floatright {
  float: right;
  width: 40%;
}
@media screen and (max-width: 685px) {
  #container {
    position: relative;
    width: 90%;
  }
  .floatright {
    float: none;
    margin-left: 23%;
  }
  .floatleft {
    float: none;
    margin-left: 23%;
  }
  input[type=submit] {
  width: 112%;
  }
}
